@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Home Page */

#showcase {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)),url('images/homepage.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 4%;
    left: 4%;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h2 {
    font-size: 70px;
    margin-top: 80px;
}

.content ul li {
    font-size: 25px;
    font-weight: 400;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 17px;
}

button {
    width: 250px;
    padding:  15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #1ab660;
    background: #fff2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button a{
    color: #fff;

}

.contact-btn span {
    background: #1ab660;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width:100%
}

button:hover {
    border: none;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgb(250, 250, 250);
    transition: 0.5s;
    z-index: 2;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#menuBtn {
    width: 50;
    height: 50;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 30px;
    margin-top: 15px;
}

@media screen and (max-width: 770px) {
    .logo {
        font-size: 20px;
    }
    .content h2 {
        font-size: 44px;
    }
    button {
        display: block;
        margin: 20px auto;
    }
    .content ul li {
        font-size: 17px;
        font-weight: 300;
    }
}

/* About Us */

#aboutUs {
    width: 100%;
    padding: 70px 0;
    margin-bottom: 100px;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.subtitle-text {
    text-align: center;
    padding-bottom: 20px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #1ab660;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#1ab660, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(5deg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.title-text h1 {
    font-size: 50px;
}

.subtitle-text h2 {
    font-size: 50px;
}

.subtitle-text .fa-brands {
    color: #FF0000;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 70%;
    border-radius: 30px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10xp;
    font-weight: 100;
    padding-bottom: 10px;
}

.features_desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa-regular {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #1ab660;
    border: 1px solid #1ab660;
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px) {
    .title-text h1 {
        font-size: 35px;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}

/* Galery */

#galery {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.galery-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    margin: auto;
    padding-bottom: 40px;
}

.single-photo img {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.single-photo img:hover {
    transform: scale(0.9) rotate(-5deg);
    border-radius: 20px;
    box-shadow: 0, 32px 75px rgba(68,77,136,0.2);
    transition: 0.3s;
}

.full-img-box {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.full-img {
    width: 60%;
    display: flex;
}

.full-img span {
    top: 5%;
    right: 5%;
    z-index: 10;
    cursor: pointer;
    position: absolute;
}

.full-img img {
    width: 100%;
}

.video-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    grid-gap: 30px;
    margin: auto;
    padding-bottom: 30px;
}

.yt-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.yt-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 770px) {
    .galery-box {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }

    .full-img {
        width: 80%;
    }

    .video-box {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }
}

/* Contact */

#contact {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: #fff;
}

.contact-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left, .contact-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-right {
    text-align: right;
}

.contact-row h1 {
    margin: 10px 0;
}

.contact-row p {
    line-height: 35px;
}

.contact-row i {
    font-size: 20px;
    margin: 10px;
    color: #1ab660;
}

@media screen and (max-width: 770px) {
    .contact-left, .contact-right {
        flex-basis: 100%;
        font-size: 14px;
    }
}
